body{
    min-width: 1000px;
   max-width: 2000px;
   width: 98%;
   position: relative;
   background-color: rgb(254, 252, 252);
 }
 /* 导航 */
 nav {
    text-align: center;
    background-color: #555454;
    margin-top: -10px;
        }
nav ul {          
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-right: 30px;
 }
 nav ul li {
            float: left;
            list-style: none;
            margin: 0 10px;
        }

.horizontal li  a{ 
   text-transform: uppercase;
   font-size: 185%;
   color: white;
   
}

.list{
    list-style-type: none;
    overflow: hidden;
}
.horizontal li{
    /*display与float两种方式使列表转为横向*/
    display: inline;
}
.horizontal li a:hover{
    background-color:#303030 ;
    color: #999999;
}
.horizontal.active{
    background-color: #555;
}

#breadcrumb a{
    color: black;
}
 #breadcrumb a:hover{
    background-color:#5f5f5f ;
    color: #999999;
}
.active{
    background-color: #555;
}
.two{
    background-color: rgb(13, 14, 14);
}

#search_from{

    display: inline-block;

}

form{
    float: right;
    margin-top: -40px;
}


#main{
    border-style: solid;
    border-width: 3px;
    border-color: #0b0b0b;
    color:  #0b0b0b;
    margin-left: 51%;
    margin-top: -460px;
    border-radius: 30px;
 }
 #main h1{
    margin-left: 10px;
    background-color: #595757;
    color: white;
    text-align: center;
    border-color: #0b0b0b;
    border-width: 3px;
    text-align: center;
    border-radius: 300px;
 }

 #main p{
    margin-left: 10px;
    font-size: 110%;
 }


 #main-part-1>h1{
    margin-left: 10px;
    background-color: #595757;
    color: white;
    text-align: center;
    border-color: #0b0b0b;
    border-width: 3px;
    border-radius: 300px;
 }
 #main-part{
    margin-top: 40px;
    border-style: solid;
 }

 #main-part li {
    height: 120px;
    margin-bottom: 20px;
    border-top: 1px solid #eeeeee;
}

 #main-part-1{
    border-style:inherit;
    margin-top: 30px;  
 }
#main-part>ul{
    list-style-type: none;
}


#main-part h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-color: #0b0b0b;
    background-color: #595757;
    color: white;
    text-align: center;
    border-width: 3px;
    border-radius: 300px;
}
#main-part p{
    font-size: 110%;
}

footer{
    list-style: none;
}

footer a{
    font-size: 70%;
    color: white;
    text-transform: uppercase;  
}
footer.text-with-background {
    
    color: white;
    font-size: 70%;
}
#clock{
    font-size: 60%;
    float: right;
}

.wt_t2{width:1114px;margin:0 auto;padding-top:10px}
.dda{
    width: 50%;
    float: left;
}
.ddc{
    width: 50%;
    margin-left: 200px;
    padding-left: 300px;
}
.text-with-background {
    background-image: url('images/footer2.jpg'); 
    background-size: cover; /* 可根据需要调整背景图像的大小和位置 */
    color: #fff; /* 文本颜色 */
    text-align: center; /* 文本居中对齐 */
    padding: 20px; /* 文本周围的内边距 */
    font-size: 24px; /* 文本字体大小 */   
}
.text-with-background li  a{ 
    text-transform: uppercase;  
    color: white;  
 }
 
.text-with-background a:hover{
    background-color:#303030 ;
    color: #999999;
}
.text-with-background.active{
    background-color: #555;
}