@{
    ViewBag.Title = "Oilpaper Umbrella - Chinese Intangible Cultural Heritage";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<body>
    <header>
        <img src="~/Content/images/beixuan.jpg" height="450" width=100% alt="Oiled paper umbrella " />
    </header>
    <nav class="horizontal">
        <ul>
            <li><a class="first" href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/Historical">Historical origin</a></li>
            <li><a href="~/Home/Core">Core process</a></li>
            <li><a href="About.html">About</a></li>
            <li>@Html.ActionLink("Topics", "Index", "Topics")</li>
            <li>@Html.ActionLink("Products", "Index", "Products")</li>
        </ul>
    </nav>
    <div id="breadcrumb">
        <p><strong>YOUR LOCATION : </strong><a href='~/Home/Index'>HOME</a></p>

    </div>
    <div>
        <form target="#" id="search_from">
            <input class="search_in" type="search" placeholder="Please enter keyword" />
        </form>
    </div>

    <div class="wt lc" style="margin-top:50px">
        <div class="wt_t clearfix">

            <ul class="lc_ll">
                <li class="clearfix">
                    <h2><a href="#targetLocation1">01</a></h2>
                    <span>Vedio</span>
                </li>
                <li class="clearfix">
                    <h2><a href="#targetLocation2">02</a></h2>
                    <span>Introduction</span>
                </li>
                <li class="clearfix">
                    <h2><a href="#targetLocation3">03</a></h2>
                    <span>Products</span>
                </li>
                <li class="clearfix">
                    <h2><a href="#targetLocation4">04</a></h2>
                    <span>Meaning</span>
                </li>
                <li class="clearfix">
                    <h2><a href="#targetLocation4">05</a></h2>
                    <span>Usefulness</span>
                </li>
                <li class="clearfix">
                    <h2><a href="Contact.html">06</a></h2>
                    <span>Contact</span>
                </li>


            </ul>

        </div>
    </div>
    </div>
    <h1>Video</h1>
    <div id="targetLocation1">
        <video src="~/Content/video/home.mp4" controls="controls"></video>
    </div>

    <!-- 主体部分 -->
    <section class="main">
        <div id="targetLocation2">


            <h1>Brief Introduction</h1>
            <aside>
                <p>
                    Oil paper umbrellas are one of the traditional items of the Han ethnic group, with a usage history of over 1000 years.
                    Use handmade bamboo strips as umbrella frames, and use cotton paper coated with natural waterproof tung oil as the umbrella surface.
                    Oil paper umbrellas are the earliest umbrellas in the world, made entirely by hand and all made from natural materials.
                    They are the crystallization of the wisdom of ancient Chinese people.
                </p>

                <p>
                    In the late Spring and Autumn period, Lu Ban, a famous carpenter in ancient China,
                    often worked outdoors and was often wet in the event of rain.
                    Lu Ban's wife wanted to make something that could cover the rain, so she cut bamboo into thin strips and covered them with animal skin, resembling a "pavilion", folded up like a stick, and opened up like a cover.
                    This is the earliest umbrella.
                </p>

                <p>
                    After the emergence of paper, people painted oil paper umbrellas with tung oil to prevent water,
                    and literati and scholars also wrote poems and paintings on the surface of umbrellas before applying oil to express their emotions.
                    Oil paper umbrellas were introduced to Japan and Korea during the Tang Dynasty, and in the early days, Japan referred to them as "Tang umbrellas."
                </p>


            </aside>
        </div>
    </section>
    <div id="targetLocation3">


        <h1>Oiled paper umbrella Products</h1>
        <div class="grid-container">
            <div class="grid-item">
                <img src="~/Content/images/caiyin.jpg" alt="Image 1">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/caiyin1.jpg" alt="Image 2">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/shouhui1.jpg" alt="Image 3">
            </div>

            <div class="grid-item">
                <img src="~/Content/images/zaran1.jpg" alt="Image 4">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/c1-1.jpg" alt="Image 5">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/zaran.jpg" alt="Image 6">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/shouhui-1.jpg" alt="Image 7">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/c3.jpg" alt="Image 8">
            </div>
            <div class="grid-item">
                <img src="~/Content/images/c4.jpg" alt="Image 9">
            </div>
        </div>

    </div>
    <div id="targetLocation4">

        <h1>Meaning and Usefulness</h1>
        <div class="main-part">
            <h2>Meaning in ancient times</h2>
            <ul>
                <li>
                    <img src="~/Content/images/a1.jpg" alt="">
                    <h4> 01 Festive</h4>
                    <p>
                        Red oil paper umbrella represents gladness, in many places in our country, longevity, marriage, children, moving,
                        Gao Sheng still maintains the custom of sending paper colored oiled paper umbrellas.
                    </p>
                </li>
                <li>
                    <img src="~/Content/images/a2.jpg" alt="">
                    <h4> 02 Wish the gold list title</h4>
                    <p>
                        In ancient times, when going to Beijing to take an exam or become an official, he would bring a red oil-paper umbrella in his bag, saying "Baofu.
                        Umbrella, I wish a safe journey, high school champion.
                    </p>

                </li>
                <li>
                    <img src="~/Content/images/a3.jpg" alt="">
                    <h4>03 Means rising day by day</h4>
                    <p>Umbrella for bamboo, bamboo reported peace, meaning rising</p>
                </li>

                <li>
                    <img src="~/Content/images/a4.jpg" alt="">
                    <h4> 04 Means happiness, reunion and peace</h4>
                    <p>The umbrella shape is round, meaning happiness, reunion, peace and good luck</p>
                </li>

                <li>
                    <img src="~/Content/images/a5.jpg" alt="">
                    <h4> 05 Represents many children and blessings</h4>
                    <p>
                        Oil paper and "son" sound close; Umbrella plus "people" shape composition; The traditional Chinese character for umbrella is "umbrella".
                        From traditional Chinese characters since ancient times, the meaning is five sons.
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-part-1">
            <h2>The modern use of oiled paper umbrellas </h2>
            <ul>
                <li>
                    <img src="~/Content/images/b1.jpg" alt="">
                    <h4> 01 Daily rainproof equipment</h4>
                    <p>Serve as a daily rain gear</p>
                </li>
                <li>
                    <img src="~/Content/images/b2.jpg" alt="">
                    <h4> 02 Decoration</h4>
                    <p>It has a noble and elegant temperament and adds special charm to the room</p>

                </li>
                <li>
                    <img src="~/Content/images/b3.jpg" alt="">
                    <h4> 03 Film and television props</h4>
                    <p>All kinds of ancient costumes, modern props must be used</p>
                </li>

                <li>
                    <img src="~/Content/images/b4.jpg" alt="">
                    <h4> 04 Photography</h4>
                    <p>Hanfu, cheongsam lovers must choose photo equipment</p>
                </li>

                <li>
                    <img src="~/Content/images/b5.jpg" alt="">
                    <h4>05 Gift</h4>
                    <p>Unique cultural implication, highlight the gift giver's elegant taste</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="container">
    <img src="images/zz1.jpg" alt="Pictures">
    <img src="images/zz2.jpg" alt="Pictures" >
    <p>
      nihao
    </p>
    </div> -->
    <footer>

        <div class="text-with-background">
            <div class="wt dff">
                <div class="wt_t2 clearfix">
                    <div class="dda">
                        <li><a href="~/Home/Index">Oiled paper umbrella products</a> </li>
                        <li><a href="~/Home/Historical">Historical origin </a> </li>
                        <li><a href="~/Home/Core"> Core technology</a> </li>
                    </div>



                    <div class="ddc">
                        <li><a href="About.html/">About</a> </li>
                        <li><a href="Contact.html">Contavt</a> </li>
                        <li>@Html.ActionLink("Products", "Index", "Products")</li>

                    </div>
                    <a href="mailto:sgreer@example.com/harpe">Contect : sgreer@example.com/harpe</a>
                </div>
            </div>
        </div>
        <form id="myForm">
            <input type="text" placeholder="Hope to get your advice" name="username">
            <input type="submit" value="Submit">
        </form>


       
        <div id="clock"></div>
    </footer>


</body>
