<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/layout2.css" />

</head>

<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/page1.js"></script>
</body>
</html>
